\chapter{ {{- title -}} }

{% for section in sections %}
\section{ {{- section.heading -}} }
{% for paragraph in section.paragraphs %}
{{ paragraph }}

{% endfor %}
{% for table in section.tables %}
{{ table }}

{% endfor %}
{% for figure in section.visual_figures %}
\begin{figure}[h]
\centering
\includegraphics[width=0.8\textwidth]{ {{- figure.relative_path -}} }
\caption{ {{- figure.caption -}} }
\end{figure}

{% endfor %}
{% for figure in section.screenshot_figures %}
\begin{figure}[h]
\centering
\includegraphics[width=0.8\textwidth]{ {{- figure.relative_path -}} }
\caption{ {{- figure.caption -}} }
\end{figure}

{% endfor %}
{% endfor %}
{% for figure in figures %}
\begin{figure}[h]
\centering
\includegraphics[width=0.8\textwidth]{ {{- figure.relative_path -}} }
\caption{ {{- figure.caption -}} }
\end{figure}

{% endfor %}
