\chapter{ {{- title -}} }

{% for section in sections %}
\section{ {{- section.heading -}} }
{% if section.watch_link %}
{\small\color{V2BAccent} {{ section.watch_link }} }\par
{% endif %}
{% for paragraph in section.paragraphs %}
{{ paragraph }}

{% endfor %}
{% for table in section.tables %}
{{ table }}

{% endfor %}
{% for figure in section.visual_figures %}
\begin{figure}[H]
\centering
{% if figure.large %}
\includegraphics[width=\textwidth,height=0.8\textheight,keepaspectratio]{ {{- figure.relative_path -}} }
{% else %}
\includegraphics[width=0.8\textwidth,height=0.4\textheight,keepaspectratio]{ {{- figure.relative_path -}} }
{% endif %}
\caption{ {{- figure.caption -}} }
\end{figure}

{% endfor %}
{% for figure in section.screenshot_figures %}
\begin{figure}[H]
\centering
\includegraphics[width=0.8\textwidth,height=0.4\textheight,keepaspectratio]{ {{- figure.relative_path -}} }
\caption{ {{- figure.caption -}} }
\end{figure}

{% endfor %}
{% endfor %}
{% for figure in figures %}
\begin{figure}[H]
\centering
\includegraphics[width=0.8\textwidth,height=0.4\textheight,keepaspectratio]{ {{- figure.relative_path -}} }
\caption{ {{- figure.caption -}} }
\end{figure}

{% endfor %}
