\chapter*{Glossary}
\addcontentsline{toc}{chapter}{Glossary}

\begin{description}
{% for entry in entries %}
\item[\textbf{\color{V2BPrimary}{{ entry.term }}}] {{ entry.definition }}
{% endfor %}
\end{description}
